<div class="container-fluid w-50 float-start mt-4 p-2">
    <h4 class="mb-4">Add Client</h4>
    
<div class="mb-3">
    <label for="InputName" class="form-label">Client Name</label>
    <input 
    type="email" 
    class="form-control" 
    id="InputName"  
    [(ngModel)]="clientName" 
    placeholder="Mr. John"
    required>
</div>

<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" 
    class="form-control" 
    id="exampleInputEmail1" 
    [(ngModel)]="clientEmail" 
    placeholder="abc@hotmail.com">
</div>

<div class="mb-3">
    <label for="inputAddress" class="form-label">Address</label>
    <input type="text" 
    class="form-control" 
    id="inputAddress" 
    [(ngModel)]="clientAddress" 
    placeholder="1234 Main St">
  </div>

<div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Phone Number</label>
    <input type="phone" 
    class="form-control" 
    id="inputPhone" 
    [(ngModel)]="clientPhone" 
    placeholder="123-456-7890" 
    maxlength="10">
</div>

<button class="btn btn-primary" (click)="addClient()">Add Client</button>
</div>