<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid ">
    <h2><a class="navbar-brand" href="#">CMS- CRUD Application</a></h2>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <span>
        <button [routerLink]="['/addclient']" class="btn btn-primary btn m-1">Add Client</button>
        <button [routerLink]="['/addmeeting']" class="btn btn-outline-secondary m-1">Add Meeting</button>
      </span>
    </div>
  </div>
</nav>

<app-display></app-display>







